node_modules/**/*
.expo/*
.vscode/*
.Auth/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
google.json
twitter.JSON
google-services.json
GoogleService-Info.plist
